<div>
    <div>
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="text"  [(ngModel)]="searchParam">
            <button mat-button *ngIf="searchParam" matSuffix mat-icon-button aria-label="Clear" (click)="searchParam=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button (click)="doSearch()">Search</button>
    </div>
    <div>
        <mat-radio-group [(ngModel)]="provider">
            <mat-radio-button value="mal">
                MyAnimeList
            </mat-radio-button>
            <mat-radio-button value="anilist">
                Anilist
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <mat-label>Pseudo</mat-label>
            <input matInput type="text"  [(ngModel)]="pseudo">
            <button mat-button *ngIf="searchParam" matSuffix mat-icon-button aria-label="Clear" (click)="pseudo=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button (click)="searchList()">Get List</button>
    </div>
    <div *ngIf="results.length > 0">
        <mat-paginator 
               [length]="results.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
        </mat-paginator>
        <app-anime-card *ngFor="let anime of resultsToShow" [animeItem] = anime></app-anime-card>
    </div>
</div>
