.main-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.menu-space {
  min-width: var(--min-menu-width);
}
.body-layout {
  margin: 20px;
  width: 100%;
}

/* Background */
.main-body-color {
  background: var(--background-color), var(--background-color-overlay);
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.main-body-overlay {
  background: var(--background-color-overlay);
  opacity: 0.05;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}
