#logo {
  color: var(--text-color);
}

/* Layout */
.main-layout {
  height: 100%;
  background: var(--background-color);
}
.side-nav {
  width: 200px;
  background: var(--menu-pane-color);
}
.main-content {
  padding: 15px;
}

/* Menu (sidebar) items */
.menu-list-container {
  width: 100%;
  margin: auto;
}
.menu-item {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px;
}
.menu-text {
  margin: auto;
  margin-left: 3rem;
}
