.video-player-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}
.player-and-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-right: 1.5%;
}
.video-player {
  margin-bottom: 30px;
}
.vertical-list {
  max-width: (--theme-list-width);
  min-width: 200px;
}
@media (max-width: 1024px) {
  .video-player-page {
    flex-wrap: wrap;
  }
  .player-and-info {
    width: 100%;
    margin: 0;
  }
  .vertical-list {
    width: 100%;
  }
}
