// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ghost-angular-primary: mat-palette($mat-indigo);
$ghost-angular-accent: mat-palette($mat-pink, A200, A100, A400);
$ghost-angular-background: var(--background-color);
$ghost-angular-background-overlay: var(--background-color-overlay);
$ghost-angular-text: var(--text-color);

// The warn palette is optional (defaults to red).
$ghost-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ghost-angular-theme: mat-light-theme(
  (
    color: (
      primary: $ghost-angular-primary,
      accent: $ghost-angular-accent,
      warn: $ghost-angular-warn,
      background: $ghost-angular-background,
      background-overlay: $ghost-angular-background-overlay,
      text: $ghost-angular-text,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ghost-angular-theme);

// Define a custom typography config that overrides the font-family
$custom-typography: mat-typography-config(
  $font-family: '"Poppins", sans-serif',
  $headline: mat-typography-level(2rem, 48px, 600),
  /* h1 */ $title: mat-typography-level(1.6rem, 40px, 100),
  /* h2 */ $body-1: mat-typography-level(1.4rem, 24px, 300),
  /* p */
);

@include mat-base-typography($custom-typography);
