/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global colors (and properties)*/
:root {
  /*Colors*/
  --text-color: #fff;
  --background-color: linear-gradient(180deg, #323232 0%, #1b1a1d 92.31%);
  --background-color-overlay: linear-gradient(
    116.26deg,
    rgba(255, 255, 255, 0.6) 2.4%,
    rgba(255, 255, 255, 0.1) 97.46%
  );
  --text-color: #fff;
  --transparent-color: rgba(255, 255, 255, 0.4);
  --menu-pane-color: rgba(68, 68, 68, 0.7);

  /*Menu size*/
  --min-menu-width: 20rem;

  /*card*/
  --card-drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --card-border: 25px;
  --cart-background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.025) 0%,
    rgba(255, 255, 255, 0.05) 88.67%
  );

  /*Video player*/
  --theme-list-width: 750px;
}

h1,
h2,
h3,
p,
span,
a,
li,
tr {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--text-color);
  text-decoration: none;
}
/*Logo*/
h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--transparent-color);
}
h2 {
  font-size: 1.8rem;
  font-weight: 100;
  text-transform: uppercase;
}
h3 {
  font-size: 1.8rem;
  font-weight: 300;
}
li {
  list-style: none;
}
mat-card {
  background: var(--cart-background);
}
